#easyMarkedBody {
  display: block;
  position: relative;
  margin: auto;
  font-size: 16px;
  border: 1px solid #eee; 
}

div.easyMarkedToolBar {
  padding: 5px 0;
  margin: auto;
  background-color: rgba(0, 221, 131, 0.9);
  border: 1px solid rgba(0, 221, 131, 0.9);
}

div.easyMarkedToolBar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div.easyMarkedToolBar ul a {
  cursor: pointer;
  color: #555;
}

div.easyMarkedToolBar ul:after {
  content: "";
  clear: both;
  display: block;
}

div.easyMarkedToolBar li {
  position: relative;
  float: left;
  margin-left: 20px;
}

